.back {
  color: #fff;
  padding: 20px 0;
  max-width: 1200px;
  margin: 20px auto 0;
  cursor: pointer;
}
.launch-details {
  max-width: 1200px;
  color: #1C1C1C;
  display: block;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;


  &__rocket-content {
    background: #1C1C1C;
    color: #fff !important;
    padding: 20px;
    .mat-card-subtitle {
      display: inline-block;
    }
    .rocket-description {
      display: block;
      padding: 8px 0;
    }
  }

  .crew-member {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .crew-member__image img {
        border-radius: 120%50%;
        max-width: 169px;
      }
    }

    &__details {
     display: flex;
      flex-direction: column;

      .detail {
        margin-bottom: 12px;
      }
    }
  }

  // yup i could be more specific to prevent 'Important' but i dont want to faff
  .launch-details__content .mat-card-title,.launch-details__content .mat-card-subtitle {
    color: #000 !important;
  }

  &__content {
    padding: 20px;
  }

  h1 {
    margin: 0;
  }

  &__heading {
    background: #1C1C1C;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    div:last-child {
      display: flex;
      align-items: center;
    }
    img {
      max-width: 200px;
    }
    .img-placeholder {
      -webkit-filter: invert(1);
      filter: invert(1);
      max-width: 200px;
    }
  }

  .mat-card-subtitle {
    color: #fff;
    margin-bottom: 0;
  }
}
